@media screen and (max-width: 768px){
    #top-header{
        background : none; 
    }
    #menu-container>button{
        margin-left: 2%; 
    }
    .navbar-toggle{
        background-color: #00312c;
        color: #fff;
    }
    #menu{
        position: absolute;
        width: 100%;
        background-color: #014c45;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .8);
        z-index: 1050;

    }
    .menu-items{
        background-color: #014c45;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .2);
    }
    .menu-items>a{
        background-color: #00312c;
    }
    #button-group{
        transform: translate(2%, 0);
    }
}
#top-header{
    background-color: #014c45;
    margin: -1px -16px 0 -16px; 
}
h1{
    font-family: 'Paytone One', sans-serif;
    color: #fff;
    margin: 0;
}
#h2-legend{
    font-family: 'Quicksand', sans-serif;
    color: #eee;
    margin: -7px 0 0 0;
    padding: 2px 0 7px 0;
    font-size: 14px;
}

.navbar-form{      
    margin : 10px 0 0 0;
    text-align: left;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}
#search-bar{
    color: #000;
    background-color: #fff;
    margin-top: 1.4px;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    font-size: 18px;
    letter-spacing: 0.2em;
    width: 83%;
    float: left;
}
#search-bar::placeholder{
    opacity: 0.8;
    color: #a5a5a5;
    font-style: italic;
}
#search-button{
    font-size: 15.2px;
    color: #014c45;    
}
#button-group{
    padding: 0;
}
#session-connect{
    margin-top: 3px;
    padding: 15px 0 0 0;
    text-align: right;
}
.navbar-collapse{
    padding-left: 0;
}
#menu-container{
    padding: 0;
}
#menu-container>button{
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .2);
    float: none;
    margin: 0 0 0 0;
}
#menu{
    padding-left: 2%;
}
.menu-items>a, .registration-link {
    letter-spacing: 0.0em;
    color: #2ba698;
}
.menu-items>a:hover, .registration-link:hover {
    color: #bd6c31;
    background-color: transparent !important;
    text-decoration: none;
}
.registration-link{
    cursor: pointer;
    text-decoration: none;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.2em;
    padding: 0 2% 0 0;
}