#registration-title, #login-title{
    font-size: 22px;
    font-family: 'Paytone One', sans-serif;

}
label{
    display: block;
    margin:0;
}
.modal-header{
    background-color: #014C45;
    color: white;
}
.modal-dialog{
    margin-top: 5%;  
}
.modal-content{
    text-align: center;
}
.modal-body{
    padding-top: 4%;
    padding-bottom: 4%;
}
legend{
    font-size: 16px;
    border: none;
    margin: 0;
    letter-spacing: 0.2em;
    color: #858585;
}
.form-input{
    width: 60%;
    border: inherit;
    border-bottom: 2px solid #c8c8c8;    
}
.form-input:focus{
    border-color: #2196F3;
    transition: border-color 1s linear;
}
.form-radio{
    display: inline-block;
}
.form-errors{
    color: red;
    padding-top: 5px;
    line-height: 0.8em;
    
}
.form-labels{
  padding-top: 3%;
  padding-bottom: 3%;
}
.user-login{
  padding-top: 1%;
  padding-bottom: 4%;
}
#user-civil-status{
  padding-top: 1%;
}
#datepicker{
  margin-left: 3.2%;
}
#validation-group{
    margin-top: 8%;
}
#validation-group>button{
    margin: 5px;
}
#show-password, #show-confirm-password{
    padding-top: 5px;
    padding-right: 2%;
    cursor: pointer;
}


 